// 支持es4语法
var filter = {
  //  模块过滤
  getMessageTypeName: function (type) {
    switch (type) {
      case "confirmvalue":
      case "recievedpay":
      case "progress":
        return "进度";
        break;
      case "security":
      case "insurance":
      case "education":
      case "disclose":
        return "安全";
        break;
      default:
        break;
    }
  },
  // 功能过滤
  getMessageFuncName: function (type) {
    switch (type) {
      case "progress":
      case "security":
        return "任务";
        break;
      case "confirmvalue":
        return "确认产值";
        break;
      case "recievedpay":
        return "确认回款";
        break;
      case "insurance":
        return "工伤意外险";
        break;
      case "education":
        return "三级安全教育";
        break;
      case "disclose":
        return "安全技术交底";
        break;
      default:
        return "未分类";
        break;
    }
  },

  //值为空转‘未知’
  nullReturnNunknownText: function(val) {
    if (val === null || val === '') {
      return '未知';
    }
    return val;
  },

  phoneFormat: function(val){
    if (val === null) {
      return "未知";
    }
    if (val.length === 11){
      let a1 = val.substring(0, 3);
      let a2 = val.substring(4, 7);
      let a3 = val.substring(8, 11);
      // console.log(date);
      return a1 + '-' + a2 + '-' + a3;
    }
    return val;
  },

  // 时间格式化
  dateFormat: function (val) {
    if (val === null) {
      return "未知";
    }
    if (val.length >= 10) {
      return val.substring(0, 10);
    }
    return val;
  },
}
// 导出对外暴露的属性
module.exports = {
  getMessageTypeName: filter.getMessageTypeName,
  getMessageFuncName: filter.getMessageFuncName,
  nullReturnNunknownText: filter.nullReturnNunknownText,
  phoneFormat: filter.phoneFormat,
  dateFormat: filter.dateFormat,
}